<ion-content>
  <div class="header">
    <h1>Menu</h1>
    <div class="avatar">
      <ion-img src="assets\images\face.jpg"> </ion-img>
    </div>
  </div>


  <app-searchbar></app-searchbar>

  <div class="categories">
    <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
  </div>

<h1 class="list-header">Popular</h1>
<div class="protocol-list">
  <app-protocol-card *ngFor= "let protocol of protocols" [item]="protocol" > </app-protocol-card>

</div>

</ion-content>
